body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: inherit;
  -webkit-appearance: none;
  width: 8px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track {
  background-color: rgba(12, 6, 6, 0.1);
  border-radius: 8px;
}

.container {
  width: calc(100vw);
  height: calc(100vh);
  box-shadow: none;
  overflow: hidden;
}

#cheerpjDisplay {
  box-shadow: none;
  outline-color: transparent;
  outline-width: thin;
}

/* make menu always on top of window */
.menuItem:hover > * {
  z-index: 9999;
}

div.menuBar {
  max-width: 100% !important;
}

.cheerpjLoading:before {
  background: url(assets/img/imagej-js-splash.jpg) no-repeat center !important;
  background-size: 300px !important;
  max-width: 300px !important;
}

.container:not(.cheerpjLoading) {
  background: url(assets/img/imagej-js-imjoy.png) no-repeat center !important;
  background-size: 300px !important;
}

div#cheerpjDisplay.status:after {
  outline: none !important;
  position: absolute !important;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid rgb(63, 107, 240);
  border-radius: 5px;
  transform: translate(-50%, 0);
  top: calc(50% + 65px);
  color: #448aff;
  left: 50%;
  font-size: 18px;
  z-index: 99999;
  background: rgba(255, 255, 255, 0.3) !important;
}

input[type="button"] {
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="button"]:hover {
  color: #0662d6;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

input[type="button"]:focus {
  color: #0662d6;
}

/* fix text label display in window */
.window > div > div {
  /* min-width: 70%; */
  background-color: transparent !important;
  min-height: 20px;
}

.titleBar {
  background-color: #448aff !important;
  color: white !important;
  border-radius: 4px 4px 0px 0px;
}

.titleBar > a:first-child {
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 40px);
}

textarea {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  outline-color: #80808054;
  outline-width: thin;
}

#cheerpjDisplay > div.bordered {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
  border-radius: 0 0 4px 4px;
}

#cheerpjDisplay > div.window:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4) !important;
}

#cheerpjDisplay > div.window > canvas {
  border-radius: 0 0 4px 4px;
}

.window > div > input {
  height: 15px !important;
}

#drag-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(126, 126, 126, 0.255);
  display: none;
  text-align: center;
  z-index: -1;
}

#drag-overlay > span {
  position: relative;
  top: calc(50% - 120px);
  transform: translateY(-30%);
  line-height: 90px;
  font-size: 20px;
  color: #448aff;
  font-family: Arial, Helvetica, sans-serif;
}
.CodeMirror {
  margin-top: 2px;
}
/* -------------------------------------------------------------------------- *\
 * Necessary styling for the dialog to work
 * -------------------------------------------------------------------------- */

/**
 * When `<dialog>` is properly supported, the overlay is implied and can be
 * styled with `::backdrop`, which means the DOM one should be removed.
 */
[data-a11y-dialog-native] .dialog-overlay {
  display: none;
}

/**
   * When `<dialog>` is not supported, its default display is `inline` which can
   * cause layout issues.
   */
dialog[open] {
  display: block;
}

.dialog[aria-hidden="true"] {
  display: none;
}

/* -------------------------------------------------------------------------- *\
   * Styling to make the dialog look like a dialog
   * -------------------------------------------------------------------------- */

.dialog-overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.66);
}

.dialog-content {
  background-color: rgb(255, 255, 255);
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}

/* -------------------------------------------------------------------------- *\
   * Extra dialog styling to make it shiny
   * -------------------------------------------------------------------------- */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    transform: translate(-50%, -40%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.dialog:not([aria-hidden="true"]) > .dialog-overlay {
  animation: fade-in 200ms 1 both;
}

.dialog:not([aria-hidden="true"]) > .dialog-content {
  animation: appear 400ms 150ms 1 both;
}

.dialog-content {
  padding: 1em;
  max-width: 90%;
  width: 600px;
  border-radius: 2px;
}

@media screen and (min-width: 700px) {
  .dialog-content {
    padding: 2em;
  }
}

.dialog-overlay {
  background-color: rgba(43, 46, 56, 0.9);
}

.dialog h1 {
  margin: 0;
  font-size: 1.25em;
}

.dialog-close {
  color: black;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.25em;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  cursor: pointer;
  transition: 0.15s;
}

@media screen and (min-width: 700px) {
  .dialog-close {
    top: 1em;
    right: 1em;
  }
}

.dialog-button-group > button {
  background-color: #448aff;
  color: rgb(240, 238, 238);
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.15s;
  display: inline-block;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.dialog-button-group > button:hover,
.dialog-button-group > button:active {
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.footer {
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

.lds-ellipsis {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50% - 70px);
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, 0);
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #448aff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: none;
  width: 18px;
  margin-top: -2px;
  border-radius: 2px;
  height: 100%;
  margin-bottom: -4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

hr.solid {
  border-top: 1px solid #bbb;
  margin: 3px;
}

.badge {
  width: auto;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn-ext {
  display: none;
  color: white;
  font-size: 14px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn-ext {
  display: inline-block;
}

#imjoy-menu {
  z-index: 9999;
  position: absolute;
  display: inline-block;
}
.resizerBorder {
  color: #7d7d7d84 !important;
}

.subMenuItem.active > .subMenu {
  display: block !important;
}

.menuItem.active > * {
  z-index: 9999;
}

.menuBarClosing .subMenuItem > .subMenu {
  display: none;
}
