# Name: Action_Bar
# Author: Jerome Mutterer
# Version: 2.11
# Date: 2021/02/17
# Requires: ImageJ 1.43s
# Generate the jar file using: "jar cvfM action_bar.jar *"
# in my case:
# cd where original files are, then,
# jar cvfM /Applications/ImageJ\ 2/plugins/ActionBar/action_bar.jar *


Plugins>ActionBar, "Action Bar", Action_Bar("")
Plugins>ActionBar, "Design Action Bar", Action_Bar("design_action_bar.txt")
Plugins>ActionBar, "Close AB", Close_AB("")
Plugins>ActionBar, "-", "-"
Plugins>ActionBar, " Magic Montage", Action_Bar("Magic_Montage.txt")
Plugins>ActionBar, " Code Bar", Action_Bar("Code_Bar.txt")
Plugins>ActionBar, "-", "-"
Plugins>ActionBar, " Demo Bar", Action_Bar("_Demo.txt")
Plugins>ActionBar, " Sticky Bar Demo 1", Action_Bar("_StickyBarDemo1.txt")
Plugins>ActionBar, " Sticky Bar Demo 2", Action_Bar("_StickyBarDemo2.txt")
Plugins>ActionBar, " Zoom Bar", Action_Bar("_ZoomBar.txt")
Plugins>ActionBar, " Animation Bar", Action_Bar("_AnimationBar.txt")
Plugins>ActionBar, " Channels Bar", Action_Bar("Channels_Bar.ijm")
Plugins>ActionBar, " Example Workflow", Action_Bar("Example_Workflow.ijm")
Plugins>ActionBar, " Deco Bar", Action_Bar("Deco_Bar.ijm")
Plugins>ActionBar, "-", "-"
Help>About Plugins, "Action Bar...", Action_Bar("about")
